:root {
  --oneColor: #00e51c;
  --twoColor: #759a6b;
  --threeColor: #def8d6;
  --fourColor: #004c74;
  --fiveColor: #597b98;
  --sixColor: #d2f5ff;
}
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--sixColor);
}

.navbar {
  height: 50px;
  background-color: var(--fourColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar #menu {
  list-style: none;
  margin-right: 30px;
}
.navbar #menu li {
  display: inline-block;
  margin-right: 30px;
  color: white;
}
.navbar #menu li > a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.navbar #logo {
  margin-left: 30px;
  padding: 10px;
}

/*ESTILOS PARA EL CARRUSEL DE IMÃGENES*/

.hero {
  position: relative;
  overflow: hidden;
}
.hero #slideShow {
  position: relative;
  min-height: 100vh;
}
.imgSlide {
  position: absolute;
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

#img2 {
  left: 100%;
}
.active {
  left: 0 !important;
  transition: all 1s;
}

#puntos {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}
.circles {
  border: 2px solid var(--fourColor);
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0 5px 0 5px;
  background-color: transparent;
  border-radius: 50%;
}
.resaltado {
  background-color: var(--oneColor);
  transition: background-color 0.8s;
}

/*ESTILOS PARA MOSTRAR LA EXPERIENCIA*/
#title {
  padding: 20px;
  color: white;
  background-color: var(--fourColor);
  text-align: center;
  font-size: 20px;
}

.projects > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.image {
  flex: 1 100px;
  padding: 10px;
  background-color: var(--fiveColor);
  border-radius: 10px;
  margin-right: 20px;
}

.image img {
  max-width: 100%;
  border: 1px solid;
}

.contenido {
  flex: 1 400px;
  margin-left: 20px;
  height: 250px;
}

.contenido h3 {
  font: bold 20px Verdana, sans-serif;
  text-align: center;
}

.contenido time {
  width: 250px;
  height: 40px;
  position: absolute;
  padding: 10px 15px;
  background-color: #094660;
  box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
  border-radius: 5px;
  align-self: flex-start;
}
.intervalo {
  font: bold 16px Verdana, sans-serif;
  color: #ffffff;
  text-align: center;
}

.contenido .info {
  font: 16px Verdana, sans-serif;
  list-style: none;
  align-items: center;
  position: relative;
  top: 20px;
  left: 300px;
}
.contenido .info li {
  line-height: 1.5;
}
